<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bollinger Band</key>
	<string>Blue</string>
	<key>52 Week Average</key>
	<string>Brown</string>
	<key>RSI</key>
	<string>Pink</string>
	<key>EMA1</key>
	<string>Purple</string>
	<key>EMA2</key>
	<string>Turquoise</string>
	<key>SMA1</key>
	<string>Orange</string>
	<key>SMA2</key>
	<string>Yellow</string>
	<key>Weighted Average</key>
	<string>Grey</string>
	<key>Increasing Candle</key>
	<string>Green</string>
	<key>Decreasing Candle</key>
	<string>Red</string>
	<key>RSI Days</key>
	<integer>0</integer>
	<key>EMA 1 Days</key>
	<integer>5</integer>
	<key>EMA 2 Days</key>
	<integer>50</integer>
	<key>SMA 1 Days</key>
	<integer>20</integer>
	<key>SMA 2 Days</key>
	<integer>100</integer>
	<key>WMA Days</key>
	<integer>0</integer>
	<key>Point Scale</key>
	<integer>10</integer>
	<key>MLLock</key>
	<true/>
	<key>Watson</key>
	<true/>
	<key>Candlestick Chart</key>
	<true/>
	<key>Dark Mode</key>
	<true/>
	<key>Speaking</key>
	<true/>
	<key>Summarization</key>
	<true/>
	<key>QRCodeGeneration</key>
	<true/>
	<key>QRCodeReading</key>
	<true/>
	<key>Account</key>
	<string></string>
	<key>Username</key>
	<string></string>
	<key>Password</key>
	<string></string>
	<key>Secret</key>
	<string></string>
	<key>Key</key>
	<string></string>
	<key>URL</key>
	<string></string>
	<key>2FAToken</key>
	<string></string>
</dict>
</plist>
